@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    color: #424242;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    letter-spacing: 2rem;
    margin-top: 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    color: initial;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1.2rem;
}

a {
    cursor: pointer;
}

p {
    color: initial;
    margin-top: 0;
    margin-bottom: 3rem;
}

.container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-template-areas: 'header header header' 'content content content' 'content content content';
}

header {
    grid-area: header;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #148eff;
    color: #fff;
}

header p {
    margin-bottom: 0;
}

a.github-button {
    COLOR: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-left: 1rem;
}

section {
    grid-area: content;
    padding: 40px 80px;
}


/*footer {
    grid-area: footer;
    background-color: #F2EFEA;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}