@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #626262;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    letter-spacing: 2rem;
    margin-top: 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    color: initial;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1.2rem;
}

a {
    cursor: pointer;
}

p {
    color: initial;
    margin-top: 0;
    margin-bottom: 3rem;
}

code,
pre {
    padding: 10px 20px;
    max-width: 540px;
    overflow-x: auto;
    color: #FFC107;
    background-color: #222;
    white-space: pre;
    text-shadow: 0 1px 0 #000;
    border-radius: 6px;
    border-bottom: 1px solid #555;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
    font: 16px/24px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.flex {
    /*display: flex;*/
    margin-bottom: 5rem;
}

.code-exmp {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.code-exmp-cont {
    margin-left: 10rem;
    border-left: 1px dashed #0d8bff;
    padding-left: 3rem;
    width: 100%;
}

.container {
    display: grid;
    grid-template: repeat(3, 1fr);
    grid-template-areas: 'header header header' 'content content content' 'content content content';
}

header {
    grid-area: header;
    position: relative;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
    width: 100%;
    background-color: #0d8bff;
    margin-bottom: 160px;
    color: #fff;
}

header:after {
    /*content: "";
    position: absolute;
    bottom: -32.4%;
    width: 200vw;
    height: 1260px;
    background: -webkit-radial-gradient(rgb(20, 142, 255), rgb(22, 169, 236));
    background: radial-gradient(rgb(20, 142, 255), rgb(22, 169, 236));
    border-radius: 50%;
    z-index: -1;*/
}

#bigHalfCircle {
    transform: rotate(180deg);
    fill: #0d8bff;
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.header-content {
    border-bottom: 1px solid #00a8ff;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

header p {
    margin-bottom: 0;
}

a.github-button {
    position: relative;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

section {
    grid-area: content;
    padding: 40px 80px;
    max-width: 960px;
    margin: 0 auto;
}


/*footer {
    grid-area: footer;
    background-color: #F2EFEA;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}